@import "../../../variables";


.timesheets {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    min-height: 35vh;
    .title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .dummy{
        color: rgba(0, 0, 0, 0.469);
    }

    table {
        overflow: hidden;
        overflow-y: scroll;
        border-collapse: collapse;
        cursor: default;

        thead {
            font-size: 18px;

            tr {
                background-color: none;

                th {
                    white-space: nowrap;
                    text-align: center;
                    border-right: 2px solid $main;
                }

                th:nth-last-child(1) {
                    border-right: none;
                }

                th:nth-last-child(4) {
                    width: 180px;
                }
            }
        }

        tbody {
            tr {
                td {
                    border-right: 2px solid $main;
                    padding-left: 10px;
                }

                td:nth-last-child(1) {
                    border-right: none;
                }

                td:nth-last-child(1),
                td:nth-last-child(2),
                td:nth-last-child(3) {
                    box-sizing: border-box;
                    width: 150px;
                    padding-left: 0px;
                    text-align: center;
                }

                td:nth-last-child(2):hover,
                td:nth-last-child(3):hover {
                    cursor: pointer;
                    background-color: #6bcee422;
                }

                td:nth-last-child(4) {
                    padding-left: 0px;
                    text-align: center;
                }

            }

            tr:nth-child(odd) {
                background-color: $light-bg;
            }

        }
    }

    // .cards-info {
    //     display: flex;
    //     flex-direction: column;

    //     .header {
    //         box-sizing: border-box;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         width: 100%;
    //         height: 45px;
    //         border-bottom: 2px solid rgb(207, 207, 207);
    //         border-top: 2px solid rgb(207, 207, 207);

    //         font-size: 18px;
    //         font-weight: 600;


    //         .prj {
    //             display: flex;
    //             align-items: center;
    //             justify-content: space-between;
    //             width: 55%;

    //             .number-name {
    //                 display: flex;
    //                 align-items: center;
    //                 min-width: 40%;


    //                 .numb {
    //                     width: 48px;
    //                 }

    //                 .prj-name {
    //                     width: 100%;
    //                     padding-left: 10px;
    //                 }

    //             }


    //             .prj-assignment {
    //                 min-width: 60%;
    //                 height: 45px;
    //                 @include flex_center;
    //             }
    //         }

    //         .prj-date {
    //             height: 45px;
    //             @include flex_center;
    //             width: 15%;
    //         }

    //         .time {
    //             height: 45px;
    //             @include flex_center;
    //             width: 10%;
    //         }
    //     }

    //     .done-cards {
    //         height: 40vh;
    //         overflow: hidden;
    //         overflow-y: scroll;
    //         display: flex;
    //         flex-direction: column;

    //         .dummy {
    //             margin-top: 10px;
    //             color: $dummy-color;
    //         }
    //     }
    // }
}

.border {
    border-right: 2px solid rgb(207, 207, 207);
    border-left: 2px solid rgb(207, 207, 207);
}

.border-left {
    border-left: 2px solid rgb(207, 207, 207);
}


tr {
    height: 55px;
}