@import '../../variables';

.proj-container {
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $main;

    .logo {
        display: flex;
        height: 70px;
        padding: 15px 20px;
        border-bottom: 1px solid white;
        box-sizing: border-box;

        .icon {
            .logo-icon {
                width: 40px;
            }
        }

        .logo-text {
            color: rgba(255, 255, 255, 0.817);
            display: flex;
            align-items: flex-start;
            text-transform: uppercase;

            .left {
                transform: rotate(-180deg);
                writing-mode: vertical-lr;
            }

        }
    }

    .created-projects {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .dummy {
            align-self: flex-start;
            padding-left: 15px;
            margin-top: 15px;
            color: #ffffff73;
        }
    }
}