@import "../../variables";

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(103, 103, 103, 0.124);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 100;


    .modal-content {
        box-sizing: border-box;
        padding: 20px;
        border-radius: 14px;
        background-color: $main;
        width: 30vw;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .project-name{
           color: $light-color;
           font-size: 25px;
        }

        .input {
            padding: 0px 10px;
            height: 40px;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid rgb(249, 238, 255);
            color: $light-color;
            font-size: 18px;
            font-weight: 400;
            width: 95%;
            cursor: text;
        }

        .input::placeholder {
            color: rgba(255, 255, 255, 0.417);
        }

        .btn {
            .button {
                @include button($button_1);
            }

            .button:hover {
                transform: translateY(-1px);
                box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            }
    
            .button:active {
                transform: translateY(0px);
                box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
            }
        }
    }
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}