@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');

$main: #6675ee;
$button_1: #6bcee4;
$light-bg: #6676ee1e;
$dummy-color: rgba(0, 0, 0, 0.469);

$light-color: #fff;
$dark-color: #302c4e;

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button($background_color) {
    cursor: pointer;
    height: 40px;
    border: none;
    text-transform: uppercase;
    background-color: $background_color;
    color: $light-color;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 14px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

@mixin hide_long_text {
    text-transform: uppercase;
    overflow: hidden;
    overflow-x: scroll;
}